body{
    background-image: url('../image/22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
}
.img-thumbnail {
    margin-top: 77px;
    margin-left: 77px;
    padding: 0%;
    border: none;
    width: 77%;
}
p{
    color: white;
    font-size: large;
}
.head_title {
    color: white;
}
.img-opacity {
    opacity: 0.8;
}
